.button {
    background-color: #aab8b2; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
  }
.Project-container{
    background-color: aquamarine;
  }
  h1{
    color: rgb(204, 20, 192);
  }